@model List<Lib.io.Models.Member>
<h1>Members</h1>

@if (Model.Count == 0) {
    <text>A member has not rented a book yet.</text>
}
else {
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Member</th>
                <th>Discount Rate</th>
                <th>Membership Type</th>
            </tr>
        </thead>
        @foreach (var member in Model) {
            <tr>
                <td>
                    @Html.ActionLink(member.Name, "Edit", "Members", new { Id = member.Id }, null)
                </td>
                <td>
                    @member.MembershipType.DiscountRate%
                </td>
                <td>
                    @member.MembershipType.Name
                </td>
            </tr>
        }
    </table>
}