@model List<Lib.io.Models.Member>
<h1>Members</h1>

@Html.ActionLink("New Member", "New", "Members", null, new { @class = "btn btn-primary", @style="margin:10px;"})
<table id="members" class="table table-bordered">
    <thead>
        <tr>
            <th>Member</th>
            <th>Discount Rate</th>
            <th>Membership Type</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts {
    <script>
        $(document).ready(() => {
            let table = $("#members").DataTable({
                ajax: {
                    url: "/api/members",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: (data, type, member) => {
                            return "<a href='/members/edit/" + member.id + "'>" + member.name + '</a>'
                        }
                    },
                    {
                        data: "membershipType.discountRate"
                    },
                    {
                        data: "membershipType.name"
                    },
                    {
                        data: "id",
                        render: (data, type, member) => {
                            return "<button class='btn btn-danger js-delete' data-member-name='" + member.name + "' data-member-id=" + data + ">Delete</button>"
                        }
                    }
                ]
            });

            $("#members").on("click", ".js-delete", function () {
                let button = $(this);

                // Open a BootBox Confirm on Click
                bootbox.confirm("Are you sure you want to delete the member: " + button.attr("data-member-name") + "?", (result) => {
                    if (result) {
                        $.ajax({
                            url: "/api/members/" + button.attr("data-member-id"),
                            method: "DELETE",
                            success: () => {
                                // Retrieve row from the DataTable by finding the tr tag from the parent,
                                // then call remove() and update the table using draw()
                                table.row(button.parents('tr')).remove().draw();
                            }
                        })
                    }
                });
            })
        });
    </script>
}