@model List<Lib.io.Models.Member>
<h1>Members</h1>

<table id="members" class="table table-bordered">
    <thead>
        <tr>
            <th>Member</th>
            <th>Membership Type</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts {
    <script>
        $(document).ready(() => {
            let table = $("#members").DataTable({
                ajax: {
                    url: "/api/members",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "membershipType.name"
                    },
                ]
            });
        });
    </script>
}