@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lib.io</h1>
    <h3>Library CRUD app made using ASP.NET MVC</h3>
    <p>This app can do the following:</p>
    <ul class="list-group" style="margin-left: 50px">
        <li>Perform CRUD operations to the database                                   </li>
        <li>Uses Razor Syntax to inject C# code in Views                              </li>
        <li>Build Views using HTML, CSS, Bootstrap, and JavaScript                    </li>
        <li>Applies Entity-Framework Code-First workflow to build the data models     </li>
        <li>Provides RESTful services using the ASP.NET Web API                       </li>
        <li>Security, Authentication and Authorization through ASP.NET Identity       </li>
        <li>Utilizes jQuery and AJAX to call RESTful API Endpoints                    </li>
    </ul>
    <p><a href="https://github.com/ThermoDev/Lib.io" class="btn btn-primary btn-lg">Visit Github Code</a></p>
</div>
